<!DOCTYPE html>
<html>
<body>

<h1>Sse client</h1>
<a onclick="sendRequest()">Send Request</a>
<div id="sseDiv"></div>

<script>
    function sendRequest() {
        if (typeof (EventSource) !== "undefined") {
            var source = new EventSource("/api/sub?id=1");
            source.onmessage = function (event) {
                if (event.data != null) {
                    document.getElementById("sseDiv").innerHTML += event.data + " - ";
                }
            };
            source.addEventListener("test", function (event) {
                alert(event.data);
            })
            source.addEventListener("connect", function (event) {
                alert(event.data);
            })
            source.addEventListener("addComment", function (event) {
                alert(event.data);
            })
        } else {
            document.getElementById("sseDiv").innerHTML =
                "Your browser does not support server-sent events.";
        }
    }
</script>

</body>
</html>
